@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Light.woff') format('woff'),
		url('font/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Extrabold.eot');
	src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
		url('font/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('font/Gilroy-Extrabold.woff') format('woff'),
		url('font/Gilroy-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	max-width: 1536px;
	margin: 0 auto;
	float: none;
}
